[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
getmac = "~=0.8"
semver = "~=2.0"

[dev-packages]
black = "*"
responses = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
